#container {
    display: block;
}

#add-in-tree, #remove-from-tree {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#select-tree {
    margin: 5px;
    min-height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* Remove default bullets */
ul, #container-ul {
    list-style-type: none;
}

#container-ul {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}